.title{
	padding:20px 0px 0px 90px;
	
}

.agent-list{
	background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);
	padding:1em 0em 25em 0em;
	font-family:'Trebuchet MS';
	border-radius:10px
	

}

.agent-list .box {
	position:relative;
	width:325px;
	height:475px;
	background-color:white;
	border-radius:10px;
	box-shadow: 2px 10px 7px #b2bec3;
	text-align:center;
	overflow:hidden;
	background:#06A23;
	margin:22px auto;
	padding:20px 0px 60px;
	

}
.agent-list .box:hover{
	
	transition: all 0.2s ease-in-out;
	background-image: linear-gradient(315deg , #7AD7F0, #92DFF3, #B7E9F7);
}



.box .box-title{	
	font-size:25px;
	font-weight:bold;
	
}
.box .box-image{
	padding:10px;
	max-width:100%;
	
	
}
.box .box-text{
	text-align:left;
	
}

.btt{
	position: relative;
	width:15em;
	background-color:#008CBA;
	border :none;
	padding:.75em;
	border-radius:3px;
	font-weight:bold;
	transition: all 0.3s ease-in-out;
}

.btt:hover{
	box-shadow: 0px 5px 12px #b2bec3;

}

.list-grid{
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-columns-gap:20px;
	grid-row-gap:5px;
	
}

}
.box:hover .box{
	filter:blur(3px);
	opacity:.5;
	transform: scale(.98);
	box-shadow:none;
	transition: all 0.5s ease-in-out;
	
}
.box:hover .box:hover{
	transform:scale(1);
	filter:blur(0px);
	opacity:1;
	box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
	transition: all 0.5s ease-in-out;
	
}

/*-----------*/
.form-body{
	display: flex;
	justify-content: center;
	margin-left:-25px;
	padding-top:25px;
	padding-bottom:25px;
	background: rgb(74,9,121);
	background: linear-gradient(120deg, rgba(74,9,121,1) 0%, rgba(64,38,140,1) 14%, rgba(55,64,157,1) 41%, rgba(44,92,176,1) 71%, rgba(37,112,189,1) 89%, rgba(26,141,208,1) 100%);
	
}

.back-btt{
	
	width:10em;
	margin:25px;
	padding:25px;
	background-color:#008CBA;
	border :none;
	padding:.75em;
	border-radius:3px;
	font-weight:bold;
	transition: all 0.3s ease-in-out;
	transition-duration: 0.4s;
	
}

.back-btt:hover{
	border-radius:10px;
	box-shadow: 0px 0px 12px 3px #66ffff;
	transition: all 0.5s ease-in-out;

}

.agent-info-form{
	font-family:'Trebuchet MS';
	margin-bottom:60px;
	border-radius:12px;
	padding:15px;
	max-width:850px;
	width:100%;
	background: rgb(76,149,207);
	background: linear-gradient(90deg, rgba(76,149,207,1) 0%, rgba(44,164,176,1) 30%, rgba(28,189,187,1) 70%, rgba(37,158,189,1) 100%);
	box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.125);
}

.agent-info-form .all-form{
	display: flex;
	flex-wrap: nowrap;
	position:center;
	flex-wrap:wrap;
	height:550px;
	padding:20px;
	padding-top:0px;
	justify-content:space-between;
	
}

.agent-info-form .formset2 .sbutton{
	position: relative;
	border:1px;
	width:15em;
	background-color:#008CBA;
	border :none;
	padding:.75em;
	border-radius:6px;
	font-weight:bold;
	transition: all 0.5s ease-in-out;
}

.agent-info-form .formset2 .sbutton:hover{
		
	border-radius:10px;
	box-shadow: 0px 0px 12px 3px #66ffff;
	transition: all 0.5s ease-in-out;
}

#F-name,#L-name,#User-ID,#email,#phone-number,#date{  
	width: 250px;
    font-size: 12px;
    background: rgba(136, 126, 126, 0.1);
    padding: 10px 10px;
	color:white;
    box-sizing: border-box;
    border: 2px solid white;
	border-radius:5px;
    margin-bottom: 15px;
  
}

#Select-Agents{  
	width: 250px;
	height:45px;
	color:sky-blue;
    margin-bottom: 30px;
	background: rgba(136, 126, 126, 0.1);
    padding: 10px 20px;
	box-sizing: border-box;
    border:2px solid white;
	border-radius:5px;

}

#textbox{
	width: 350px;
	height:100px;
    font-size: 12px;
    background: rgba(136, 126, 126, 0.1);
    padding: 10px 10px;
	color:white;
    box-sizing: border-box;
    border: 2px solid white;
	border-radius:5px;
    margin-bottom: 10px;
	
}

.formset2{
	display:flex-wrap;
	transform:transformY(-10em);
	
}