*{
    margin :0;
    padding:0 ;
}
body{
	background-color: #7fcec5;
	background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
}


.n-links{
    height: 70px;
    
}

nav >li>a{
    display: flex;
    padding: 7% 7%;
    margin-top: 5%;
    justify-content: space-between;
    align-items: center;

}


nav img{
    width:150px;

}
.n-links{
    flex: 1;
    text-align: right;
   
}
.n-links ul li{
    list-style: none;
    display :inline-block;
    padding:8px 12px;
    position: relative;
}
.n-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}
.n-links ul li ::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(206, 22, 22);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.active .n-links ul li:hover ::after{
    width: 100%;
}

.add{
    min-height: 100vh;
    width: 100%;
	background-image: url('Front.jpg');
    background-size: cover;
    background-position:center;
    position: relative;
    overflow: hidden;


}

.text-box{
    width:90%;
    color: rgba(255, 255, 255, 0.911);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.text-box h1{
	font-family: Verdana, sans-serif;
	text-shadow: 0px 0px 15px #14557b;
    font-size: 75px;
    font-weight: bolder;

}
.text-box p{
    margin:10px 0 40px ;
    font-size: 20pxpx;
    color:white;
}
.service{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.service h1{
    font-size: 40px;
    font-weight: 600;
    color: white;
}
.service p{
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;

}
.course-col{
    flex-basis: 20%;
    background: rgb(37, 37, 37);
    border-radius: 8px;
    margin-bottom:5% ;
    padding:20px 12px;
    box-sizing: border-box;
    margin: 10px;
    transition: .6s ease-in-out;
    color:white;
    box-shadow: 2px 2px 20px rgba(201, 196, 196, 0.473);

}
.course-col:hover{
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.288);
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 2px 20px rgb(201, 196, 196);

}
.service2{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: white;

}
.land-col{
    flex-basis: 30%;
    border-radius: 8px;
    margin-bottom:5% ;
    padding:20px 12px;
    box-sizing: border-box;
    margin: 10px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    position: relative;

}
.land-col img{
    width: 100%;
    border-radius: 10px;
   
}
.syn{
   position: absolute;
   top: 100px;
   left: 50px;
   color: thistle;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.877);
}
.land-col:hover {
   
    cursor: pointer;
    transform: scale(1.2);
    
}